/*@import './formReset.css';*/

#container {
  max-width: 768px;
  margin: auto;
  font-family: 'Roboto Mono', monospace;
  line-height: 1.4;
}

h2 {
  font-size: 1em;
}
h2::before {
  content: '# ';
}

a {
  color: black;
  border-bottom: 1px solid rgb(255, 110, 45);
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  color: black;
}
a.disabled {
  border-bottom: 1px solid #aaa;
}

/* authenticate */

.tab {
  cursor: pointer;
}

.tab-content {
  border-bottom: 1px solid rgb(255, 110, 45);
}

.entry {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* text field */

.textfield {
  border-bottom: 1px solid black;
}
.textfield:focus {
  outline: 0; /* webkit glow */
}
.textfield.invalid {
  color: red;
}

/* choice field */

a.choice {
  font-weight: normal;
}
a.chosen {
  color: rgb(255, 110, 45);
}

/* form reset */

input {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  overflow: visible;
}

/* webkit glow */
input:focus {
	outline: 0;
}
