h1 {
  margin-bottom: 0;
}

.menu {
  margin-bottom: 1em;
  .menuitem {
    display: inline;
    cursor: pointer;
    border-bottom: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }
  .menuitem.selected {
    font-weight: bold;
    border-bottom: 1px solid #ff9600;
  }
}

.main {
  width: 100%;
}

.event {
  margin: 1em 0;
  p {
    margin: 0;
  }
  pre {
    font-family: inherit;
    margin: 0;
  }
}

.type {
  font-weight: bold;
}

.ts {
  font-size: 0.8em;
  font-style: italic;
}

.eventcomment {
  white-space: pre-wrap;
  border-left: 2px solid #ff9600;
  padding-left: 6px;
}

.eventmetakey {
  font-weight: bold;
}

.eventdelete {
  font-size: 0.8em;
}

a.reset {
  font-weight: inherit;
  border: none;
}

.filters {
  h4 {
    margin-bottom: 0;
  }
}

.applyFilters {
  margin-top: 1em;
  margin-bottom: 1em;
}

.listView {
  .table {
    width: 100%;
  }
}
