.body {
  display: grid;
  grid-template-columns: 50% 50%;
}

.applicationview {
  .application {
    margin: 20px;
  }
}

.actions {
  textarea {
    border-top: none;
    border-bottom: none;
    border-left: 2px solid #ff9600;
    padding-left: 6px;
    min-height: 50px;
    resize: vertical;
  }
}

.event {
  margin: 1em 0;
  p {
    margin: 0;
  }
  pre {
    font-family: inherit;
    margin: 0;
  }
}

.type {
  font-weight: bold;
}

.ts {
  font-size: 0.8em;
  font-style: italic;
}

.eventcomment {
  white-space: pre-wrap;
  border-left: 2px solid #ff9600;
  padding-left: 6px;
}

.eventmetakey {
  font-weight: bold;
}

.eventdelete {
  font-size: 0.8em;
}
