.matchDetail {
  .applicationview {
    lost-column: 1/2;
    .application {
      margin: 20px;
    }
  }
  .actions {
    lost-column: 1/2;
    textarea {
      min-height: 50px;
    }
    table {
      width: 100%;
    }
  }
}
